# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/
/cmake-build-debug/
*.npz
*.mp4
*.pth
*.mnn
*.jpg
*.bmp
*.db
*.rknn
*.pt
*.pth
*.onnx
*.ttf


/test/lightTrack/video/
/test/lightTrack/image/
/build/
/3rdparty/mpp/build/
/3rdparty/mpp/install/
/3rdparty/uart_test/build
.DS_Store